.container
{
    background-color: antiquewhite;
    width: 50vw;
    height: 50vh;
}
.box
{
    background-color: aqua;
    width: 10vw;
    height: 10vh;
    transition-property:transform, background-color;
    /* this tells us on which property the transition should occur */
    transition-duration: 3s;
    /* this tells us for how much time the transition takes place. */
    transition-timing-function: ease-in-out;
    transition-delay: 1s;
    /* this tells us kitne time baad ye property ka asar hona shuru hoga. */
}
.trans
{
    transform: translateX(10vw) translateY(10vh);
    background-color: blue;

}