.logo
{
    width: 40px;
    height: 23px;
    background-color: peachpuff;
}
.right ul
{
     display: flex;
     list-style: none;
     gap: 25px;
}
nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
}
.logo img{
    width: 100px;
    height: 80px;
}
 ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

